.services {
  padding: 40px 0;
  background-color: $mercury;
  color: $dark-gray;
  &-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      max-width: 300px;
      height: 250px;
      padding: 25px 20px;
      color: $white;
      background-color: $dark-gray;
      border-radius: 10px;
      margin: 5px;
    }

    &__img {
      width: 75px;
      height: 75px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: $gray;
      box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.15);
    }

    &__txt {
      font-family: $roboto;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-title {
    margin-bottom: 25px;
  }

  &-txt {
    font-family: $roboto;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $noto-japanese;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

@import "./media.scss";
