.what-challenges {
  background-color: $orange;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
  }

  &__img {
    img {
      max-width: 470px;
    }
  }

  &__title {
    font-family: $noto-japanese;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      font-family: $roboto;
      font-size: 50px;
    }
  }
}

@import "./media.scss";