@media (max-width: $large) {
  .promo {
    &-img {
      &__left {
        width: 260px;
        height: 220px;
        bottom: 46px;
        left: 42px;
      }

      &__right {
        width: 312px;
        height: 219px;
        bottom: 31px;
        right: 0;
      }
    }
  }
}

@media (max-width: $medium) {
  .logo-wrap {
    svg {
      width: 150px;
    }
  }

  .promo {
    padding-top: 125px;
    &-img {
      &__left {
        visibility: hidden;
      }

      &__right {
        position: static;
        margin-top: 20px;
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: $extra-small) {
  .logo-wrap {
    svg {
      width: 90px;
    }
  }

  .menu {
    &-list {
      &__item {
        font-size: 14px;
      }
    }
  }
}