.promo {
  padding-top: 150px;
  &-title {
    margin-bottom: 20px;
  }

  &-img__right {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 80px;
    right: 0;
  }

  &-img__left {
    width: 350px;
    height: 250px;
    position: absolute;
    left: 15px;
    bottom: 85px;
  }
}

@keyframes move {
  from {
    transform: translate(-90px, 0%);
  }

  to {
    transform: translate(90px, 0%);
  }
}

@import "./media.scss";