body {
  font-family: $noto-japanese;
  color: $white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: $dark-gray;
  }
}

.container {
  @include container-size(1020px, 0 15px);
}

.container-large {
  @include container-size(1200px, 0 15px);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	padding: $gutter;
}

.m-15 {
  margin: -15px;
}

.flex {
  display: flex;
  &-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-column--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  &-h1 {
    font-size: 64px;
    line-height: 93px;
    font-weight: 700;
  }

  &-h2 {
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
  }

  &-h3 {
    font-size: 40px;
    line-height: 58px;
    font-weight: 700;
  }

  &-h4 {
    font-size: 35px;
    line-height: 48px;
    font-weight: 700;
  }
}

.txt {
  &--orange {
    color: orange;
  }

  &--white {
    color: $white;
  }

  &--gradient {
    background: $gradient-txt;
    background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }
}

.wave {
  &-orange {
    background-color: $orange;
  }
}