@mixin col-size($width) {
  width: $width;
}

@mixin container-size($max-width, $padding-x, $margin-xy: 0 auto) {
  max-width: $max-width;
  padding: $padding-x;
  margin: $margin-xy;
}

@mixin menuLink($width, $color) {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
  width: $width;
  height: 2px;
  background-color: $color;
  transition: all 0.5s;
}