// colors
$midnight-green-eagle-green: #0C4454;
$white: #FFFFFF;
$pumpkin: #FD7423;
$chestnut: #8D3F30;
$melon: #F8AC9E;
$xiketic: #12071B;
$melon-white: #FECEA8;
$yellow-white: #FF847C;
$orange: #F8A917;
$dark-gray: #18222D;

// fonts
$roboto: 'Roboto', sans-serif;
$noto-japanese: 'Noto Sans JP', sans-serif;
