// colors
$midnight-green-eagle-green: #0C4454;
$white: #FFFFFF;
$pumpkin: #FD7423;
$chestnut: #8D3F30;
$melon: #F8AC9E;
$xiketic: #12071B;
$melon-white: #FECEA8;
$yellow-white: #FF847C;
$orange: #F8A917;
$dark-gray: #18222D;
$gradient-txt: linear-gradient(90.13deg, $chestnut 0.84%, $orange 99.96%);

// fonts
$roboto: 'Roboto', sans-serif;
$noto-japanese: 'Noto Sans JP', sans-serif;

// media
$gd-col: 12;
$gd-size: calc(100% / $gd-col);
$gutter: 15px;
//$extra-small: < 576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
