.fixed-overlay {
  position: fixed;
  overflow: auto;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}

.fixed-overlay__modal {
  text-align: center;
  white-space: nowrap;
}

.fixed-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.modal {
  display: inline-block;
  vertical-align: middle;
  background-color: $mercury; 
  border-radius: 20px;
  &-title {
    font-family: $noto-japanese;
    margin-bottom: 20px;
  }

  &-txt {
    font-family: $roboto;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba($color: $dark-gray, $alpha: 0.1);
    border-radius: 0 0 20px 20px;
  }
}

.modal_container {
  margin: 15px;
  padding: 20px 30px;
  text-align: left;
  white-space: normal; 
  color: $dark-gray;
}

.btn {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  color: $white;
  transition: .3s ease;
  &-cancel {
    background-color: rgba($color: $dark-gray, $alpha: 0.8);
    &:hover {
      background-color: rgba($color: $dark-gray, $alpha: 0.5);
    }
  }

  &-accept {
    margin-left: 15px;
    background-color: $chestnut;
    &:hover {
      background-color: rgba($color: $chestnut, $alpha: 0.8);
    }
  }
}