.header {
  &-wrap {
    padding-top: 20px;
  }
}

.menu-list {
  &__item{
    margin-left: 20px;
    &-link {
      position: relative;
      color: $white;
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: $pumpkin;
        transition: all 0.5s;
      }

      &:hover::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: $orange;
        transition: all 0.5s;
      }
    }
  }
}

.logout {
  display: flex;
  align-items: center;
}

.profile-link {
  color: $pumpkin;
  margin-right: 10px;
  transition: .3s ease;
  &:hover {
    transform: scale(1.2);
  }
}