.header {
  &-wrap {
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

.menu-list {
  &__item{
    margin-left: 20px;
    &-link {
      position: relative;
      color: $white;
      &::after {
        @include menuLink(0, $pumpkin)
      }

      &:hover::after {
        @include menuLink(100%, $orange)
      }
    }
  }
}

.logo {
  &-link {
    display: block;
  }

  &-wrap {
    margin: 10px 0;
  }
}

.opened {
  display: block;
}
