.footer {
  padding: 20px 0;
  background-color: $dark-gray;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-copyright {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.4;
  }
  
  &-telegram {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $white;
    &__icon {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      color: $orange;
    }

    &__txt {
      margin-right: 5px;
    }

    &__name {
      position: relative;
      color: $orange;
      &::after {
        @include menuLink(0, $pumpkin)
      }

      &:hover::after {
        @include menuLink(100%, $orange)
      }
    }
  }
}

@import "./media.scss";